@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: auto;
  font-size: 14px;
  font-family: "Noto Serif JP", serif;
  color: #151515;
  background: #fff;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 1060px;
  }
}

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

summary {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px / 1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

ol,
ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}

.u-show-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .u-show-pc {
    display: none;
  }
}

.u-show-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-show-sp {
    display: block;
  }
}

.u-notap {
  -webkit-tap-highlight-color: transparent;
}

.u-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots li button {
  font-size: 0;
}

.hero {
  position: relative;
  width: 87%;
  height: 800px;
  -webkit-transition: -webkit-filter 1.5s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;
  filter: blur(10px) saturate(0.1);
}

.hero.is-shown {
  opacity: 1;
  filter: none;
}

.hero__slider-item div {
  width: 100%;
  height: 800px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 49px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
}

.hero__tagline {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 12px;
  position: absolute;
  bottom: 40px;
  left: 35px;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  color: #fff;
}

.hero__tagline.is-shown {
  opacity: 1;
}

.hero__tagline p {
  display: inline-block;
}

.hero__tagline p:last-child {
  margin-left: 40px;
}

.hero__progress {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 1px;
  transition: opacity 0.25s ease-in-out;
  opacity: .4;
  opacity: 0;
  background-color: #afbabf;
}

.hero__progress.is-shown {
  opacity: 1;
}

.hero__progress span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
}

.hero__progress span.active {
  width: 100%;
}

.logo {
  position: relative;
  width: 13%;
  height: 800px;
  padding: 20px;
  transition: opacity 0.25s ease-in-out;
  background-color: #fff;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.l-index .logo {
  opacity: 0;
}

.logo.is-shown {
  opacity: 1;
}

.logo__img {
  width: 100%;
  height: auto;
}

.logo__scroll {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: absolute;
  bottom: 150px;
  left: 45%;
  display: block;
  transform: rotate(90deg) translateY(100%);
  letter-spacing: .1em;
  color: #000;
}

.logo__scroll:after {
  position: absolute;
  top: 50%;
  left: 75px;
  display: block;
  width: 55px;
  height: 1px;
  content: '';
  transform: translateY(-50%);
  animation: scroll-anim 1.5s ease-in-out infinite;
  background-color: #000;
}

@keyframes scroll-anim {
  0% {
    top: 50%;
    width: 0;
  }
  100% {
    top: 50%;
    width: 55px;
  }
}

.section-title {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: relative;
  z-index: 1;
}

.section-title__en {
  font-size: 12px;
  display: block;
  letter-spacing: .1em;
}

.section-title__ja {
  font-size: 25px;
  display: block;
  letter-spacing: .1em;
}

.banner {
  -ms-flex-align: initial;
      align-items: initial;
}

.banner .logo {
  height: 625px;
}

.banner__img {
  position: relative;
  width: 87%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.spec-block {
  position: relative;
}

.spec-block img {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

.spec-block span {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 185px;
  padding: 15px 0;
  letter-spacing: .1em;
  background-color: #fff;
}

.flow-block {
  position: relative;
  width: 100%;
  padding: 30px 0;
  background-color: #f0f4f7;
}

.flow-block__step {
  display: block;
  margin-bottom: 30px;
  letter-spacing: .1em;
}

.flow-block__icon {
  display: block;
  width: 55px;
  height: 55px;
  margin: 0 auto 50px;
  object-fit: contain;
}

.flow-block__description {
  letter-spacing: .1em;
}

.company {
  text-align: left;
  letter-spacing: .08em;
}

.company dt,
.company dd {
  padding: 35px 0;
  border-top: 1px solid #f0f0f0;
}

.company dt:last-of-type,
.company dd:last-of-type {
  border-bottom: 1px solid #f0f0f0;
}

.company dt {
  width: 25%;
}

.company dt.company__item--list {
  padding-bottom: 105px;
}

.company dd {
  width: 75%;
}

.company dd.company__item--list ul {
  padding-left: 20px;
  list-style-type: circle;
}

.company dd.company__item--list ul li {
  margin-bottom: 10px;
}

.policy {
  line-height: 2;
  text-align: left;
}

.policy ol {
  list-style-type: decimal;
}

.policy ol li {
  margin-bottom: 45px;
  margin-left: 17px;
}

.form {
  text-align: left;
}

.form .mw_wp_form_input .form-submit,
.form .mw_wp_form_input .form__back {
  display: none;
}

.form .mw_wp_form_input .error {
  position: absolute;
  bottom: 25px;
  left: 28%;
}

.form .mw_wp_form_confirm .form__item {
  -ms-flex-pack: initial;
      justify-content: initial;
}

.form .mw_wp_form_confirm .form__item label {
  top: 0;
  margin-right: 80px;
}

.form .mw_wp_form_confirm .form__privacy,
.form .mw_wp_form_confirm .form__checkbox {
  display: none;
}

.form__item {
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid #ececec;
  -ms-flex-align: initial;
      align-items: initial;
}

.form__item:first-child {
  border-top: 1px solid #ececec;
}

.form__item.form__item--required label:after {
  font-size: 12px;
  position: absolute;
  top: -3px;
  right: -25px;
  display: inline-block;
  padding: 5px 20px;
  content: '必須';
  color: #fff;
  background-color: #000;
}

.form__item label {
  position: relative;
  top: 15px;
  width: 20%;
}

.form__item input,
.form__item textarea {
  width: 72%;
  padding: 20px 30px;
  background-color: #f0f4f7;
}

.form__item input:-ms-input-placeholder,
.form__item textarea:-ms-input-placeholder {
  color: #d0d3d6;
}

.form__item input::placeholder,
.form__item textarea::placeholder {
  color: #d0d3d6;
}

.form__item p {
  width: 72%;
}

.form__privacy {
  margin: 70px auto 30px;
  text-align: center;
  letter-spacing: .05em;
}

.form__privacy a {
  position: relative;
  display: inline-block;
  color: #151515;
}

.form__privacy a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #000;
}

.form__privacy a:hover:after {
  animation: left-to-right 0.5s ease-in-out;
}

.form__checkbox {
  text-align: center;
}

.form__checkbox input[type='checkbox'] {
  display: none;
}

.form__checkbox input[type='checkbox']:checked + label:after {
  position: absolute;
  top: 4px;
  left: 9px;
  display: block;
  width: 6px;
  height: 14px;
  content: '';
  transform: rotate(45deg);
  border: solid #000;
  border-width: 0 1px 1px 0;
}

.form__checkbox label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.form__checkbox label:before {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  content: '';
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-appearance: none;
}

.form__submit {
  position: relative;
  width: 330px;
  margin: 70px auto 0;
  transition: all 0.25s ease-in-out;
  text-align: center;
  border: 1px solid #555;
  background-image: linear-gradient(to left, transparent 0, #fff 100%);
  background-position: 99% 0;
  background-size: 200% 100%;
}

.form__submit:before {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 12px;
  height: 1px;
  content: '';
  transition: width 0.3s ease-in-out 0.25s, right 0.1s ease-in-out 0.5s;
  transform: translateY(-50%);
  background-color: #151515;
}

.form__submit:after {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 4px;
  height: 4px;
  content: '';
  transition: right 0.1s ease-in-out 0.5s;
  transform: translateY(-50%) rotate(45deg);
  border-top: 1px solid #151515;
  border-right: 1px solid #151515;
}

.form__submit:hover:before, .form__submit:hover:after {
  right: 15px;
}

.form__submit:hover:before {
  width: 18px;
  background-color: #fff;
}

.form__submit:hover:after {
  border-color: #fff;
}

.form__submit:hover {
  color: #fff;
  background-image: linear-gradient(to left, transparent, transparent 50%, #000 50%, #000);
  background-position: 0 0;
}

.form__submit input[type='submit'] {
  width: 100%;
  padding: 17px 0;
  cursor: pointer;
}

.form__back {
  margin: 50px auto;
  text-align: center;
}

@keyframes left-to-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.link-arrow {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  padding-left: 25px;
  cursor: pointer;
  color: #151515;
  border-bottom: 1px solid #000;
}

.link-arrow:before {
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 12px;
  height: 1px;
  content: '';
  transition: width 0.3s ease-in-out, left 0.1s ease-in-out 0.3s;
  transform: translateY(-50%);
  background-color: #151515;
}

.link-arrow:after {
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  content: '';
  transition: left 0.1s ease-in-out 0.3s;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 1px solid #151515;
  border-left: 1px solid #151515;
}

.link-arrow:hover:before, .link-arrow:hover:after {
  left: -5px;
}

.link-arrow:hover:before {
  width: 18px;
}

.link-arrow input[name='submitBack'] {
  cursor: pointer;
  outline: none;
}

.l-concept__flow-list.is-active li:first-child:after {
  right: -16px;
}

.l-concept__flow-list.is-active li:nth-child(2) {
  transition-delay: .5s;
}

.l-concept__flow-list.is-active li:nth-child(2):after {
  right: -16px;
}

.l-concept__flow-list.is-active li:nth-child(3) {
  transition-delay: 1s;
}

.l-concept__flow-list.is-active li:nth-child(3):after {
  bottom: -29px;
}

.l-concept__flow-list.is-active li:nth-child(4) {
  transition-delay: 1.5s;
}

.l-concept__flow-list.is-active li:nth-child(4):after {
  left: -16px;
}

.l-concept__flow-list.is-active li:nth-child(5) {
  transition-delay: 2s;
}

.l-concept__flow-list.is-active li:nth-child(5):after {
  left: -16px;
}

.l-concept__flow-list.is-active li:nth-child(6) {
  transition-delay: 2.5s;
}

.l-concept__flow-list.is-active li:nth-child(6):before {
  height: 140px;
}

.l-concept__flow-list.is-active li:nth-child(6):after {
  width: 140px;
}

.l-concept__flow-list.is-active li:nth-child(7) {
  transition-delay: 3.2s;
}

.prefooter {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  padding: 90px 170px;
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
  background-color: #171a1d;
}

.prefooter__title {
  font-size: 25px;
  margin-bottom: 80px;
}

.prefooter__cta {
  text-align: center;
}

.prefooter__cta-contact,
.prefooter__cta-call {
  width: 40%;
}

.prefooter__cta-ja {
  font-size: 21px;
  margin-bottom: 5px;
}

.prefooter__cta-en {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.prefooter__cta-link {
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 15px 0;
  transition: all 0.25s ease-in-out;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-image: linear-gradient(to left, transparent 0, #171a1d 100%);
  background-position: 99% 0;
  background-size: 200% 100%;
}

.prefooter__cta-link:hover {
  color: #000;
  background-image: linear-gradient(to left, transparent, transparent 50%, #fff 50%, #fff);
  background-position: 0 0;
}

.footer {
  margin-bottom: 100px;
  text-align: center;
}

.footer__text {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1em;
}

.blur-text__letter {
  display: inline-block;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transform: translateY(2rem);
  opacity: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.blur-text.is-shown .blur-text__letter {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.blur-image {
  -webkit-transition: -webkit-filter 1s ease-in-out 1.5s;
  filter: blur(5px) saturate(0.1);
}

.blur-image.is-colored {
  filter: none;
}

.activate-text {
  position: relative;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transform: translateX(-50px);
  opacity: 0;
}

.activate-text.is-shown {
  transform: translateX(0);
  opacity: 1;
}

.activate-box:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: background-color 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
}

.activate-box.is-shown:before {
  background-color: #fff;
}

.l-container {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    padding: 0 30px;
  }
}

.l-index__concept,
.l-index__point {
  padding-top: 150px;
}

.l-index__concept-image,
.l-index__point-image {
  width: 45%;
}

.l-index__concept-image img,
.l-index__point-image img {
  width: 100%;
  height: auto;
}

.l-index__concept-content,
.l-index__point-content {
  width: 45%;
}

.l-index__concept-content p,
.l-index__point-content p {
  line-height: 2.5;
  margin-top: 25px;
}

.l-index__point-image {
  -ms-flex-order: 2;
      order: 2;
}

.l-index__point-content {
  padding-left: 12%;
  -ms-flex-order: 1;
      order: 1;
}

.l-index__works {
  padding: 150px 0;
  text-align: center;
}

.l-index__works h2 {
  margin-bottom: 40px;
}

.l-index__works-description {
  line-height: 2.5;
  margin-bottom: 60px;
}

.l-index__works-item div {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  height: 540px;
  margin: 0 15px;
  padding: 45px 50px;
  text-align: left;
  letter-spacing: .1em;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.l-index__works-item div h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.l-index__people {
  padding-bottom: 150px;
  text-align: center;
}

.l-index__people h2 {
  margin-bottom: 80px;
}

.l-index__people-item {
  position: relative;
  overflow: hidden;
  width: 31%;
}

.l-index__people-item:hover img {
  filter: blur(5px);
}

.l-index__people-item:hover .l-index__people-overlay {
  left: 0;
}

.l-index__people-item img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.25s ease-in-out;
}

.l-index__people-overlay {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 45px 35px;
  transition: left 0.25s ease-in-out;
  text-align: left;
  letter-spacing: .07em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.l-index__people-overlay h3 {
  font-size: 25px;
  text-transform: uppercase;
}

.l-index__people-overlay span {
  display: block;
}

.l-index__people-description {
  position: absolute;
  bottom: 50px;
  width: 78%;
}

.l-index__reasons {
  padding-bottom: 150px;
  text-align: center;
}

.l-index__reasons h2 {
  margin-bottom: 80px;
}

.l-index__reasons-item {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: relative;
  width: 48%;
  margin-bottom: 45px;
  letter-spacing: .1em;
  color: #fff;
}

.l-index__reasons-item div {
  position: relative;
  width: 100%;
  height: 330px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.l-index__reasons-item div:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
}

.l-index__reasons-item h3 {
  font-size: 25px;
  position: absolute;
  top: 45%;
  width: 100%;
  margin-bottom: 5px;
  transform: translateY(-50%);
}

.l-index__reasons-item p {
  position: absolute;
  top: 55%;
  width: 100%;
  transform: translateY(-50%);
}

.l-index__prefooter {
  padding-bottom: 150px;
}

.l-concept__intro {
  padding-top: 50px;
}

.l-concept__intro img {
  width: 100%;
  height: 460px;
}

.l-concept__intro-text {
  width: 650px;
  margin: 0 auto 75px;
  text-align: center;
}

.l-concept__intro-text h2 {
  margin-bottom: 60px;
}

.l-concept__intro-text p {
  line-height: 2.2;
}

.l-concept__thoughts,
.l-concept__order {
  padding-top: 150px;
}

.l-concept__thoughts-image,
.l-concept__order-image {
  width: 62%;
}

.l-concept__thoughts-image img,
.l-concept__order-image img {
  width: 100%;
  height: auto;
}

.l-concept__thoughts-content,
.l-concept__order-content {
  position: relative;
  right: -150px;
  width: 38%;
  padding: 40px 140px 80px 0;
}

.l-concept__thoughts-content p,
.l-concept__order-content p {
  line-height: 2.5;
  margin-top: 25px;
  letter-spacing: -.075em;
}

.l-concept__order-content {
  right: 150px;
  padding-right: 0;
  padding-left: 140px;
  -ms-flex-order: 2;
      order: 2;
}

.l-concept__order-image {
  -ms-flex-order: 1;
      order: 1;
}

.l-concept__specs {
  padding-top: 150px;
  text-align: center;
}

.l-concept__specs h2 {
  margin-bottom: 40px;
}

.l-concept__specs p {
  line-height: 2.5;
  margin-bottom: 60px;
}

.l-concent__specs-list li {
  width: 48%;
  margin-bottom: 45px;
}

.l-concept__support {
  padding-top: 120px;
  text-align: center;
}

.l-concept__support h2 {
  margin-bottom: 40px;
}

.l-concept__support p {
  line-height: 2.5;
  margin-bottom: 60px;
}

.l-concept__support img {
  width: 100%;
  height: 406px;
}

.l-concept__flow {
  padding-top: 150px;
  text-align: center;
}

.l-concept__flow h2 {
  margin-bottom: 40px;
}

.l-concept__flow-list li {
  position: relative;
  width: 30.7%;
  margin-bottom: 40px;
  transition: all 0.7s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.l-concept__flow-list li:after {
  position: absolute;
  top: 50%;
  right: 3px;
  width: 18px;
  height: 18px;
  content: '';
  transform: rotate(45deg) translateY(-50%);
  border-top: 1px solid #222;
  border-right: 1px solid #222;
}

.l-concept__flow-list li:first-child {
  -ms-flex-order: 1;
      order: 1;
}

.l-concept__flow-list li:first-child:after {
  transition: right 0.25s ease-in-out 0.2s;
}

.l-concept__flow-list li:nth-child(2) {
  -ms-flex-order: 2;
      order: 2;
}

.l-concept__flow-list li:nth-child(2):after {
  transition: right 0.25s ease-in-out 0.7s;
}

.l-concept__flow-list li:nth-child(3) {
  -ms-flex-order: 3;
      order: 3;
}

.l-concept__flow-list li:nth-child(3):after {
  top: auto;
  right: 50%;
  bottom: -8px;
  transition: bottom 0.25s ease-in-out 1.2s;
  transform: rotate(135deg) translateX(-50%);
}

.l-concept__flow-list li:nth-child(4) {
  -ms-flex-order: 6;
      order: 6;
}

.l-concept__flow-list li:nth-child(4):after {
  top: 45%;
  left: 3px;
  transition: left 0.25s ease-in-out 1.7s;
  transform: rotate(-135deg) translateY(-50%);
}

.l-concept__flow-list li:nth-child(5) {
  -ms-flex-order: 5;
      order: 5;
}

.l-concept__flow-list li:nth-child(5):after {
  top: 45%;
  left: 3px;
  transition: left 0.25s ease-in-out 2.2s;
  transform: rotate(-135deg) translateY(-50%);
}

.l-concept__flow-list li:nth-child(6) {
  -ms-flex-order: 4;
      order: 4;
}

.l-concept__flow-list li:nth-child(6):before {
  position: absolute;
  top: 282px;
  left: 50%;
  display: block;
  width: 1px;
  height: 140px;
  content: '';
  transition: height 0.25s ease-in-out 2.7s;
  background-color: #222;
}

.l-concept__flow-list li:nth-child(6):after {
  top: auto;
  bottom: -185px;
  left: 50%;
  width: 140px;
  height: 140px;
  transition: width 0.25s ease-in-out 2.9s;
  transform: rotate(180deg);
  border-right: none;
}

.l-concept__flow-list li:last-child {
  width: 65.4%;
  margin-left: auto;
  -ms-flex-order: 7;
      order: 7;
}

.l-concept__flow-list li:last-child:after {
  display: none;
}

.l-concept__flow-list li:last-child .flow-block:after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 97%;
  height: 93%;
  content: '';
  border: 1px solid #222;
}

.l-concept__flow-list li:last-child .flow-block__icon {
  width: 85px;
  height: 85px;
  margin-bottom: 30px;
}

.l-concept__flow-list.is-active li {
  transform: translateY(0);
  opacity: 1;
}

.l-concept__prefooter {
  padding: 150px 0;
}

.l-company__content {
  text-align: center;
}

.l-company__content h2 {
  margin-bottom: 80px;
}

.l-company__content-link {
  margin: 80px 0 150px;
}

.l-privacy__content {
  text-align: center;
}

.l-privacy__content h2 {
  margin-bottom: 80px;
}

.l-privacy__content-link {
  margin: 80px 0 150px;
}

.l-contact {
  text-align: center;
}

.l-contact__content-description {
  line-height: 2;
  margin-top: 30px;
  letter-spacing: .05em;
}

.l-contact__content-form {
  padding: 80px 0 150px;
}
