@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: auto;
  font-size: 14px;
  font-family: "Noto Serif JP", serif;
  color: #151515;
  background: #fff;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 1060px;
  }
}

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

summary {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px / 1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

ol,
ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}

.u-show-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .u-show-pc {
    display: none;
  }
}

.u-show-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-show-sp {
    display: block;
  }
}

.u-notap {
  -webkit-tap-highlight-color: transparent;
}

.u-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots li button {
  font-size: 0;
}

.hero {
  position: relative;
  width: 87%;
  height: 800px;
  color: red;
  background-image: url(/wp-content/themes/oceanhouse/assets/images/index/hero-1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.hero__title {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 49px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
}

.logo {
  position: relative;
  width: 13%;
  height: 800px;
  padding: 20px;
  background-color: #fff;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

.logo__img {
  width: 100%;
  height: auto;
}

.logo__scroll {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: absolute;
  bottom: 150px;
  left: 45%;
  display: block;
  transform: rotate(90deg) translateY(100%);
  letter-spacing: .1em;
  color: #000;
}

.logo__scroll:after {
  position: absolute;
  top: 50%;
  left: 75px;
  display: block;
  width: 55px;
  height: 1px;
  content: '';
  transform: translateY(-50%);
  animation: scroll-anim 1.5s ease-in-out infinite;
  background-color: #000;
}

@keyframes scroll-anim {
  0% {
    top: 50%;
    width: 0;
  }
  100% {
    top: 50%;
    width: 55px;
  }
}

.section-title {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}

.section-title__en {
  font-size: 12px;
  display: block;
  letter-spacing: .1em;
}

.section-title__ja {
  font-size: 25px;
  display: block;
  letter-spacing: .1em;
}

.prefooter {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  padding: 90px 170px;
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
  background-color: #171a1d;
}

.prefooter__title {
  font-size: 25px;
  margin-bottom: 80px;
}

.prefooter__cta {
  text-align: center;
}

.prefooter__cta-contact,
.prefooter__cta-call {
  width: 40%;
}

.prefooter__cta-ja {
  font-size: 21px;
  margin-bottom: 5px;
}

.prefooter__cta-en {
  margin-bottom: 40px;
  text-transform: uppercase;
}

.prefooter__cta-link {
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 15px 0;
  transition: all 0.25s ease-in-out;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-image: linear-gradient(to left, transparent 0, #171a1d 100%);
  background-position: 99% 0;
  background-size: 200% 100%;
}

.prefooter__cta-link:hover {
  color: #000;
  background-image: linear-gradient(to left, transparent, transparent 50%, #fff 50%, #fff);
  background-position: 0 0;
  background-size: 200% 100%;
}

.footer {
  margin-bottom: 100px;
  text-align: center;
}

.footer__text {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1em;
}

.l-container {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    padding: 0 30px;
  }
}

.l-index__about,
.l-index__point {
  padding-top: 150px;
}

.l-index__about-image,
.l-index__point-image {
  width: 45%;
}

.l-index__about-content,
.l-index__point-content {
  width: 45%;
}

.l-index__about-content p,
.l-index__point-content p {
  line-height: 2.5;
  margin-top: 40px;
}

.l-index__point-image {
  -ms-flex-order: 2;
      order: 2;
}

.l-index__point-content {
  padding-left: 12%;
  -ms-flex-order: 1;
      order: 1;
}

.l-index__works {
  padding: 150px 0;
  text-align: center;
}

.l-index__works h2 {
  margin-bottom: 40px;
}

.l-index__works-description {
  line-height: 2.5;
  margin-bottom: 60px;
}

.l-index__works-item div {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  height: 540px;
  margin: 0 15px;
  padding: 45px 50px;
  text-align: left;
  letter-spacing: .1em;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.l-index__works-item div h3 {
  font-size: 25px;
  margin-bottom: 5px;
}

.l-index__people {
  padding-bottom: 150px;
  text-align: center;
}

.l-index__people h2 {
  margin-bottom: 80px;
}

.l-index__people-item {
  position: relative;
  overflow: hidden;
  width: 31%;
}

.l-index__people-item:hover img {
  filter: blur(5px);
}

.l-index__people-item:hover .l-index__people-overlay {
  left: 0;
}

.l-index__people-item img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.25s ease-in-out;
}

.l-index__people-overlay {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 45px 35px;
  transition: left 0.25s ease-in-out;
  text-align: left;
  letter-spacing: .07em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

.l-index__people-overlay h3 {
  font-size: 25px;
  text-transform: uppercase;
}

.l-index__people-overlay span {
  display: block;
}

.l-index__people-description {
  position: absolute;
  bottom: 50px;
  width: 78%;
}

.l-index__reasons {
  padding-bottom: 150px;
  text-align: center;
}

.l-index__reasons h2 {
  margin-bottom: 80px;
}

.l-index__reasons-item {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  position: relative;
  width: 48%;
  margin-bottom: 45px;
  letter-spacing: .1em;
  color: #fff;
}

.l-index__reasons-item div {
  width: 100%;
  height: 330px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  filter: brightness(70%);
}

.l-index__reasons-item h3 {
  font-size: 25px;
  position: absolute;
  top: 45%;
  width: 100%;
  margin-bottom: 5px;
  transform: translateY(-50%);
}

.l-index__reasons-item p {
  position: absolute;
  top: 55%;
  width: 100%;
  transform: translateY(-50%);
}

.l-index__prefooter {
  padding-bottom: 150px;
}
