@charset "UTF-8";
body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
      text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  text-rendering: auto;
  font-size: 14px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
  color: #151515;
  background: #fff;
}

@media screen and (min-width: 768px) {
  body {
    min-width: 1060px;
  }
}

html.is-locked, body.is-locked {
  overflow: hidden;
}

* {
  outline: none;
}

/*! sanitize.css | CC0 Public Domain | github.com/jonathantneal/sanitize.css */
/*
 * Normalization
 */
:root {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
}

audio:not([controls]) {
  display: none;
}

details {
  display: block;
}

input[type="number"] {
  width: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

main {
  display: block;
}

summary {
  display: block;
}

pre {
  overflow: auto;
}

progress {
  display: inline-block;
}

small {
  font-size: 75%;
}

template {
  display: none;
}

textarea {
  overflow: auto;
}

[hidden] {
  display: none;
}

[unselectable] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

/*
 * Universal inheritance
 */
*,
::before,
::after {
  box-sizing: inherit;
}

* {
  font-size: inherit;
  line-height: inherit;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

/*
 * Opinionated defaults
 */
*,
::before,
::after {
  border-style: solid;
  border-width: 0;
}

* {
  margin: 0;
  padding: 0;
}

:root {
  box-sizing: border-box;
  cursor: default;
  font: 16px / 1.5 sans-serif;
  text-rendering: optimizeLegibility;
}

html {
  background-color: #FFFFFF;
}

a {
  text-decoration: none;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

button,
input,
select,
textarea {
  background-color: transparent;
}

button,
input,
select,
textarea {
  color: inherit;
  font-family: inherit;
  font-style: inherit;
  font-weight: inherit;
}

button,
[type="button"],
[type="date"],
[type="datetime"],
[type="datetime-local"],
[type="email"],
[type="month"],
[type="number"],
[type="password"],
[type="reset"],
[type="search"],
[type="submit"],
[type="tel"],
[type="text"],
[type="time"],
[type="url"],
[type="week"],
select,
textarea {
  min-height: 1.5em;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

ol,
ul {
  list-style: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea {
  resize: vertical;
}

::-moz-selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

::selection {
  background-color: #B3D4FC;
  text-shadow: none;
}

@media screen {
  [hidden~="screen"] {
    display: inherit;
  }
  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    clip: rect(0 0 0 0) !important;
    position: absolute !important;
  }
}

.u-show-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .u-show-pc {
    display: none;
  }
}

.u-show-sp {
  display: none;
}

@media screen and (max-width: 767px) {
  .u-show-sp {
    display: block;
  }
}

.u-notap {
  -webkit-tap-highlight-color: transparent;
}

.u-flex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.slick-dots li button {
  font-size: 0;
}

.header {
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0;
  width: 50%;
}

@media screen and (max-width: 767px) {
  .header {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    background-color: #fff;
  }
}

.header.is-open {
  z-index: 31;
}

.header.is-open .header__list {
  display: none;
}

.header.is-open .header__logo {
  opacity: 0;
}

.header.header--frontpage .header__item--model a:last-child {
  display: none;
}

.header.header--subpage .header__item--model a:first-child {
  display: none;
}

@media screen and (max-width: 767px) {
  .header__list {
    display: none;
  }
}

.header__list li {
  width: 23%;
}

.header__list li:last-child {
  width: 31%;
}

.header__list li a {
  font-family: "Noto Serif JP", serif;
  letter-spacing: .15em;
  color: #fff;
}

.header__logo a {
  display: block;
  text-align: center;
}

.header__logo a img {
  width: 110px;
  height: 25px;
  object-fit: cover;
}

.header__hamburger {
  position: absolute;
  z-index: 20;
  top: 3px;
  right: 25px;
  width: 20px;
  height: 20px;
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
  transform: rotate(0deg);
}

@media screen and (max-width: 767px) {
  .header__hamburger {
    top: 20px;
    right: 15px;
    width: 20px;
    height: 20px;
  }
}

.header__hamburger span {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  transition: 0.25s ease-in-out;
  transform: rotate(0deg);
  opacity: 1;
  border-radius: 9px;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .header__hamburger span {
    height: 2px;
    background-color: #151515;
  }
}

.header__hamburger span:nth-child(1) {
  top: 0;
}

.header__hamburger span:nth-child(2), .header__hamburger span:nth-child(3) {
  top: 6px;
}

.header__hamburger span:nth-child(4) {
  top: 12px;
}

.header__hamburger.is-open span {
  background-color: #151515;
}

.header__hamburger.is-open span:nth-child(1) {
  top: 9px;
  left: 50%;
  width: 0;
}

.header__hamburger.is-open span:nth-child(2) {
  transform: rotate(45deg);
}

.header__hamburger.is-open span:nth-child(3) {
  transform: rotate(-45deg);
}

.header__hamburger.is-open span:nth-child(4) {
  top: 9px;
  left: 50%;
  width: 0;
}

.header__hamburger:hover span {
  opacity: .8;
}

.menu {
  position: fixed;
  z-index: 30;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.7s ease-in-out;
  transform: translateY(-1000px);
  background-color: #fff;
}

.menu.is-shown {
  transform: translateY(0);
}

.menu.menu--frontpage .menu__item--model a:last-child {
  display: none;
}

.menu.menu--subpage .menu__item--model a:first-child {
  display: none;
}

.menu__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.menu__item {
  padding-bottom: 45px;
}

.menu__item:last-child {
  padding-bottom: 0;
}

.menu__item a {
  font-family: "Noto Serif JP", serif;
  position: relative;
  letter-spacing: .1em;
  color: #151515;
}

.menu__item a:after {
  position: absolute;
  bottom: -8px;
  left: 0;
  display: block;
  width: 0;
  height: 2px;
  content: '';
  background-color: #151515;
}

.menu__item a:hover:after {
  animation: left-to-right 0.25s normal forwards ease-in-out;
}

.hero {
  position: relative;
  width: 87%;
  height: 100vh;
  -webkit-transition: -webkit-filter 1.5s ease-in-out, opacity 0.7s ease-in-out;
  opacity: 0;
  filter: blur(10px) saturate(0.1);
}

@media screen and (max-width: 767px) {
  .hero {
    width: 100%;
    height: 100vh;
  }
}

.hero.is-shown {
  opacity: 1;
  filter: none;
}

.hero__slider-item div {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .hero__slider-item div {
    height: 100vh;
  }
}

.hero__title {
  font-family: "Noto Serif JP", serif;
  font-size: 49px;
  font-weight: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .hero__title {
    font-size: 27px;
    width: 100%;
  }
}

.hero__tagline {
  font-size: 12px;
  position: absolute;
  bottom: 40px;
  left: 35px;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .hero__tagline {
    left: 30px;
  }
}

.hero__tagline.is-shown {
  opacity: 1;
}

.hero__tagline p {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .hero__tagline p {
    display: block;
  }
}

.hero__tagline p:last-child {
  margin-left: 40px;
}

@media screen and (max-width: 767px) {
  .hero__tagline p:last-child {
    margin-top: 5px;
    margin-left: 0;
  }
}

.hero__progress {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  height: 1px;
  transition: opacity 0.25s ease-in-out;
  opacity: 0;
  background-color: #afbabf;
}

.hero__progress.is-shown {
  opacity: 1;
}

.hero__progress span {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
}

.hero__progress span.active {
  width: 100%;
}

.logo {
  position: relative;
  width: 13%;
  height: 100vh;
  padding: 20px;
  transition: opacity 0.25s ease-in-out;
  background-color: #fff;
  -ms-flex-item-align: baseline;
      align-self: baseline;
}

@media screen and (max-width: 767px) {
  .logo {
    display: none;
  }
}

.l-index .logo {
  opacity: 0;
}

.logo.is-shown {
  opacity: 1;
}

.logo__img {
  width: 100%;
  height: auto;
}

.logo__scroll {
  font-family: "Noto Serif JP", serif;
  position: absolute;
  bottom: 150px;
  left: 45%;
  display: block;
  transform: rotate(90deg) translateY(100%);
  letter-spacing: .1em;
  color: #000;
}

.logo__scroll:after {
  position: absolute;
  top: 50%;
  left: 75px;
  display: block;
  width: 55px;
  height: 1px;
  content: '';
  transform: translateY(-50%);
  animation: scroll-anim 1.5s ease-in-out infinite;
  background-color: #000;
}

@keyframes scroll-anim {
  0% {
    top: 50%;
    width: 0;
  }
  100% {
    top: 50%;
    width: 55px;
  }
}

.section-title {
  font-family: "Noto Serif JP", serif;
  font-weight: normal;
  position: relative;
  z-index: 1;
}

.section-title__en {
  font-size: 12px;
  display: block;
  margin-bottom: 8px;
  letter-spacing: .2em;
}

@media screen and (max-width: 767px) {
  .section-title__en {
    font-size: 10px;
  }
}

.section-title__ja {
  font-size: 25px;
  display: block;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .section-title__ja {
    font-size: 20px;
  }
}

.banner {
  -ms-flex-align: initial;
      align-items: initial;
}

.banner .logo {
  height: 625px;
}

.banner__img {
  position: relative;
  width: 87%;
  height: 500px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .banner__img {
    width: 100%;
    height: 235px;
  }
}

.spec-block {
  position: relative;
}

.spec-block img {
  width: 100%;
  height: 295px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .spec-block img {
    height: 210px;
  }
}

.spec-block span {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  width: 185px;
  padding: 15px 0;
  letter-spacing: .1em;
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .spec-block span {
    font-size: 10px;
    width: 120px;
    padding: 8px 0;
  }
}

.flow__list.is-active .flow__item {
  transform: translateY(0);
  opacity: 1;
}

.flow__list.is-active .flow__item:first-child:after {
  right: -16px;
}

@media screen and (max-width: 767px) {
  .flow__list.is-active .flow__item:first-child:after {
    right: 13px;
  }
}

.flow__list.is-active .flow__item:nth-child(2) {
  transition-delay: .5s;
}

.flow__list.is-active .flow__item:nth-child(2):after {
  right: -16px;
}

.flow__list.is-active .flow__item:nth-child(3) {
  transition-delay: 1s;
}

.flow__list.is-active .flow__item:nth-child(3):after {
  bottom: -29px;
}

.flow__list.is-active .flow__item:nth-child(4) {
  transition-delay: 1.5s;
}

.flow__list.is-active .flow__item:nth-child(4):after {
  left: -16px;
}

.flow__list.is-active .flow__item:nth-child(5) {
  transition-delay: 2s;
}

.flow__list.is-active .flow__item:nth-child(5):after {
  left: -16px;
}

.flow__list.is-active .flow__item:nth-child(6) {
  transition-delay: 2.5s;
}

.flow__list.is-active .flow__item:nth-child(7) {
  transition-delay: 3.2s;
}

.flow__list .slick-dots {
  display: -ms-flexbox;
  display: flex;
  margin: 30px auto 0;
  list-style-type: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

@media screen and (max-width: 767px) {
  .flow__list .slick-dots {
    width: 120px;
  }
}

.flow__list .slick-dots li {
  cursor: pointer;
  transition: background-color 0.25s ease-in-out, opacity 0.25s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 100%;
}

@media screen and (max-width: 767px) {
  .flow__list .slick-dots li {
    width: 8px;
    height: 8px;
  }
}

.flow__list .slick-dots li.slick-active {
  background-color: #ddd;
}

.flow__item {
  position: relative;
  width: 30.7%;
  margin-bottom: 40px;
  transition: all 0.7s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

@media screen and (max-width: 767px) {
  .flow__item {
    width: 100%;
    margin: 0;
  }
}

.flow__item:after {
  position: absolute;
  top: 50%;
  right: 3px;
  width: 18px;
  height: 18px;
  content: '';
  transform: rotate(45deg) translateY(-50%);
  border-top: 1px solid #222;
  border-right: 1px solid #222;
}

.flow__item:first-child {
  -ms-flex-order: 1;
      order: 1;
}

.flow__item:first-child:after {
  transition: right 0.25s ease-in-out 0.2s;
}

.flow__item:nth-child(2) {
  -ms-flex-order: 2;
      order: 2;
}

.flow__item:nth-child(2):after {
  transition: right 0.25s ease-in-out 0.7s;
}

.flow__item:nth-child(3) {
  -ms-flex-order: 3;
      order: 3;
}

.flow__item:nth-child(3):after {
  top: auto;
  right: 50%;
  bottom: -8px;
  transition: bottom 0.25s ease-in-out 1.2s;
  transform: rotate(135deg) translateX(-50%);
}

.flow__item:nth-child(4) {
  -ms-flex-order: 6;
      order: 6;
}

@media screen and (max-width: 767px) {
  .flow__item:nth-child(4) {
    -ms-flex-order: 4;
        order: 4;
  }
}

.flow__item:nth-child(4):after {
  top: 45%;
  left: 3px;
  transition: left 0.25s ease-in-out 1.7s;
  transform: rotate(-135deg) translateY(-50%);
}

.flow__item:nth-child(5) {
  -ms-flex-order: 5;
      order: 5;
}

.flow__item:nth-child(5):after {
  top: 45%;
  left: 3px;
  transition: left 0.25s ease-in-out 2.2s;
  transform: rotate(-135deg) translateY(-50%);
}

.flow__item:nth-child(6) {
  -ms-flex-order: 4;
      order: 4;
}

@media screen and (max-width: 767px) {
  .flow__item:nth-child(6) {
    -ms-flex-order: 6;
        order: 6;
  }
}

.flow__item:nth-child(6):after {
  display: none;
}

.flow__item:last-child {
  width: 65.4%;
  margin-left: auto;
  -ms-flex-order: 7;
      order: 7;
}

@media screen and (max-width: 767px) {
  .flow__item:last-child {
    margin-left: 0;
    padding: 0 10px;
  }
}

.flow__item:last-child:after {
  display: none;
}

@media screen and (max-width: 767px) {
  .flow__item:last-child:after {
    display: block;
  }
}

.flow__item:last-child .flow-block:after {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 97%;
  height: 93%;
  content: '';
  border: 1px solid #c0c0c0;
}

@media screen and (max-width: 767px) {
  .flow__item:last-child .flow-block:after {
    border: none;
  }
}

.flow__item:last-child .flow-block__icon {
  width: 85px;
  height: 85px;
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .flow__item:last-child .flow-block__icon {
    width: 50px;
    height: 50px;
    margin-bottom: 40px;
  }
}

.flow__item-arrow {
  position: relative;
}

@media screen and (max-width: 767px) {
  .flow__item-arrow {
    display: none;
  }
}

.flow__item-arrow:before {
  position: absolute;
  top: 45px;
  left: 50%;
  display: block;
  width: 140px;
  height: 140px;
  content: '';
  transition: height 0.25s ease-in-out 2.7s;
  border-left: 1px solid #222;
  border-bottom: 1px solid #222;
}

.flow__item-arrow:after {
  content: '';
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 5px 0 5px 8px;
  border-color: transparent transparent transparent #222;
  position: absolute;
  top: 179px;
  right: 7px;
}

.flow-block {
  position: relative;
  width: 100%;
  padding: 30px 0;
  background-color: #f0f4f7;
}

@media screen and (max-width: 767px) {
  .flow-block {
    padding: 30px 15px;
  }
}

.flow-block__step {
  display: block;
  margin-bottom: 30px;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .flow-block__step {
    font-size: 10px;
  }
}

.flow-block__icon {
  display: block;
  width: 55px;
  height: 55px;
  margin: 0 auto 50px;
  object-fit: contain;
}

.flow-block__description {
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .flow-block__description {
    font-size: 12px;
  }
}

.company {
  text-align: left;
  letter-spacing: .08em;
}

.company li {
  padding: 35px 0;
  border-top: 1px solid #f0f0f0;
}

.company li:last-of-type {
  border-bottom: 1px solid #f0f0f0;
}

.company li.u-flex {
  -ms-flex-align: initial;
      align-items: initial;
}

.company li p {
  width: 75%;
}

@media screen and (max-width: 767px) {
  .company li p {
    width: 60%;
  }
}

.company__label {
  width: 25%;
}

@media screen and (max-width: 767px) {
  .company__label {
    width: 40%;
  }
}

.company__sub {
  width: 75%;
}

@media screen and (max-width: 767px) {
  .company__sub {
    width: 60%;
  }
}

.company__sub ul {
  padding-left: 20px;
  list-style-type: circle;
}

@media screen and (max-width: 767px) {
  .company__sub ul {
    padding-left: 15px;
  }
}

.company__sub ul li {
  padding: 0;
  padding-bottom: 15px;
  border-top: none;
}

.company__sub ul li:last-of-type {
  padding-bottom: 0;
  border-bottom: none;
}

.policy {
  line-height: 2;
  text-align: left;
}

.policy ol {
  list-style-position: inside;
  list-style-type: decimal;
}

.policy ol li {
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .policy ol li {
    margin-bottom: 30px;
  }
}

.form {
  text-align: left;
}

.form .mw_wp_form_input .form-submit,
.form .mw_wp_form_input .form__back {
  display: none;
}

.form .mw_wp_form_input .error {
  position: absolute;
  bottom: 25px;
  left: 28%;
}

@media screen and (max-width: 767px) {
  .form .mw_wp_form_input .error {
    bottom: 8px;
    left: 0;
  }
}

.form .mw_wp_form_confirm .form__item {
  -ms-flex-pack: initial;
      justify-content: initial;
}

@media screen and (max-width: 767px) {
  .form .mw_wp_form_confirm .form__item {
    word-break: break-all;
  }
}

.form .mw_wp_form_confirm .form__item label {
  top: 0;
  margin-right: 80px;
}

@media screen and (max-width: 767px) {
  .form .mw_wp_form_confirm .form__item label {
    width: 36%;
    margin-right: 20px;
  }
}

.form .mw_wp_form_confirm .form__item label:after {
  display: none;
}

.form .mw_wp_form_confirm .form__privacy,
.form .mw_wp_form_confirm .form__checkbox {
  display: none;
}

.form__item {
  position: relative;
  padding: 50px 0;
  border-bottom: 1px solid #ececec;
  -ms-flex-align: initial;
      align-items: initial;
}

@media screen and (max-width: 767px) {
  .form__item {
    padding: 25px 0 35px;
  }
}

.form__item:first-child {
  border-top: 1px solid #ececec;
}

.form__item.form__item--required label:after {
  font-size: 12px;
  position: absolute;
  top: -3px;
  right: -25px;
  display: inline-block;
  padding: 5px 20px;
  content: '必須';
  color: #fff;
  background-color: #000;
}

@media screen and (max-width: 767px) {
  .form__item.form__item--required label:after {
    font-size: 10px;
    position: relative;
    top: -1px;
    right: -20px;
    padding: 3px 15px;
  }
}

.form__item label {
  position: relative;
  top: 15px;
  width: 20%;
}

@media screen and (max-width: 767px) {
  .form__item label {
    top: 0;
    width: 100%;
  }
}

.form__item input,
.form__item textarea {
  width: 72%;
  padding: 20px 30px;
  background-color: #f0f4f7;
}

@media screen and (max-width: 767px) {
  .form__item input,
  .form__item textarea {
    width: 100%;
    margin-top: 15px;
    padding: 15px 20px;
  }
}

.form__item input:-ms-input-placeholder,
.form__item textarea:-ms-input-placeholder {
  color: #d0d3d6;
}

.form__item input::placeholder,
.form__item textarea::placeholder {
  color: #d0d3d6;
}

.form__item p {
  width: 72%;
}

.form__privacy {
  margin: 70px auto 30px;
  text-align: center;
  letter-spacing: .05em;
}

@media screen and (max-width: 767px) {
  .form__privacy {
    line-height: 2.5;
    margin-top: 40px;
  }
}

.form__privacy a {
  position: relative;
  display: inline-block;
  color: #151515;
}

.form__privacy a:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  content: '';
  background-color: #000;
}

@media screen and (max-width: 767px) {
  .form__privacy a:after {
    bottom: -1px;
  }
}

.form__privacy a:hover:after {
  animation: left-to-right 0.5s ease-in-out;
}

.form__checkbox {
  text-align: center;
}

.form__checkbox input[type='checkbox'] {
  display: none;
}

.form__checkbox input[type='checkbox']:checked + label:after {
  position: absolute;
  top: 3px;
  left: 8px;
  display: block;
  width: 6px;
  height: 14px;
  content: '';
  transform: rotate(45deg);
  border: solid #000;
  border-width: 0 1px 1px 0;
}

.form__checkbox label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.form__checkbox label:before {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  padding: 10px;
  content: '';
  cursor: pointer;
  vertical-align: middle;
  border: 1px solid #000;
  background-color: transparent;
  -webkit-appearance: none;
}

.form__submit {
  position: relative;
  width: 330px;
  margin: 70px auto 0;
  transition: all 0.25s ease-in-out;
  text-align: center;
  border: 1px solid #555;
  background-image: linear-gradient(to left, transparent 0, #fff 100%);
  background-position: 99% 0;
  background-size: 200% 100%;
}

@media screen and (max-width: 767px) {
  .form__submit {
    width: 100%;
    margin-top: 50px;
  }
}

.form__submit:before {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 12px;
  height: 1px;
  content: '';
  transition: width 0.3s ease-in-out 0.25s, right 0.1s ease-in-out 0.5s;
  transform: translateY(-50%);
  background-color: #151515;
}

.form__submit:after {
  position: absolute;
  top: 50%;
  right: 20px;
  display: block;
  width: 4px;
  height: 4px;
  content: '';
  transition: right 0.1s ease-in-out 0.5s;
  transform: translateY(-50%) rotate(45deg);
  border-top: 1px solid #151515;
  border-right: 1px solid #151515;
}

.form__submit:hover:before, .form__submit:hover:after {
  right: 15px;
}

.form__submit:hover:before {
  width: 18px;
  background-color: #fff;
}

.form__submit:hover:after {
  border-color: #fff;
}

.form__submit:hover {
  color: #fff;
  background-image: linear-gradient(to left, transparent, transparent 50%, #000 50%, #000);
  background-position: 0 0;
}

.form__submit input[type='submit'] {
  width: 100%;
  padding: 17px 0;
  cursor: pointer;
}

.form__back {
  margin: 50px auto;
  text-align: center;
}

.link-arrow {
  position: relative;
  display: inline-block;
  padding-bottom: 15px;
  padding-left: 25px;
  cursor: pointer;
  color: #151515;
  border-bottom: 1px solid #000;
}

.link-arrow:before {
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 12px;
  height: 1px;
  content: '';
  transition: width 0.3s ease-in-out, left 0.1s ease-in-out 0.3s;
  transform: translateY(-50%);
  background-color: #151515;
}

.link-arrow:after {
  position: absolute;
  top: 40%;
  left: 0;
  display: block;
  width: 4px;
  height: 4px;
  content: '';
  transition: left 0.1s ease-in-out 0.3s;
  transform: translateY(-50%) rotate(45deg);
  border-bottom: 1px solid #151515;
  border-left: 1px solid #151515;
}

.link-arrow:hover:before, .link-arrow:hover:after {
  left: -5px;
}

.link-arrow:hover:before {
  width: 18px;
}

.link-arrow input[name='submitBack'] {
  cursor: pointer;
  outline: none;
}

@keyframes left-to-right {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

.prefooter {
  font-family: "Noto Serif JP", serif;
  padding: 90px 170px;
  text-align: center;
  letter-spacing: .1em;
  color: #fff;
  background-color: #171a1d;
}

@media screen and (max-width: 767px) {
  .prefooter {
    padding: 60px 30px;
  }
}

.prefooter__title {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .prefooter__title {
    font-size: 18px;
    line-height: 1.8;
    margin-bottom: 60px;
  }
}

.prefooter__cta {
  text-align: center;
}

.prefooter__cta-contact,
.prefooter__cta-call {
  width: 40%;
}

@media screen and (max-width: 767px) {
  .prefooter__cta-contact,
  .prefooter__cta-call {
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  .prefooter__cta-contact {
    margin-top: 50px;
    -ms-flex-order: 2;
        order: 2;
  }
}

@media screen and (max-width: 767px) {
  .prefooter__cta-call {
    -ms-flex-order: 1;
        order: 1;
  }
}

.prefooter__cta-ja {
  font-size: 21px;
  font-weight: normal;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .prefooter__cta-ja {
    font-size: 15px;
  }
}

.prefooter__cta-en {
  margin-bottom: 40px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .prefooter__cta-en {
    font-size: 8px;
    margin-bottom: 20px;
  }
}

.prefooter__cta-link {
  font-size: 12px;
  display: block;
  width: 100%;
  padding: 15px 0;
  transition: all 0.25s ease-in-out;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  background-image: linear-gradient(to left, transparent 0, #171a1d 100%);
  background-position: 99% 0;
  background-size: 200% 100%;
}

@media screen and (max-width: 767px) {
  .prefooter__cta-link {
    font-size: 8px;
    width: 85%;
    margin: 0 auto;
  }
}

.prefooter__cta-link:hover {
  color: #000;
  background-image: linear-gradient(to left, transparent, transparent 50%, #fff 50%, #fff);
  background-position: 0 0;
}

.footer {
  margin-bottom: 100px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .footer {
    margin-bottom: 60px;
  }
}

.footer__text {
  font-family: "Noto Serif JP", serif;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: .1em;
}

@media screen and (max-width: 767px) {
  .footer__text {
    font-size: 10px;
  }
}

.footer__text span {
  display: inline-block;
}

@media screen and (max-width: 767px) {
  .footer__text span {
    display: none;
  }
}

.blur-text__letter {
  display: inline-block;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 0s;
  transform: translateY(2rem);
  opacity: 0;
  filter: blur(10px);
  -webkit-filter: blur(10px);
}

.blur-text.is-shown .blur-text__letter {
  transform: translateY(0);
  opacity: 1;
  filter: blur(0);
}

.blur-image {
  -webkit-transition: -webkit-filter 1s ease-in-out 1.5s;
  filter: blur(5px) saturate(0.1);
}

.blur-image.is-colored {
  filter: none;
}

.activate-text {
  position: relative;
  z-index: 1;
  transition: all 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
  transform: translateX(-50px);
  opacity: 0;
}

.activate-text.is-shown {
  transform: translateX(0);
  opacity: 1;
}

.activate-box:before {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  transition: background-color 0.8s cubic-bezier(0.165, 0.84, 0.44, 1) 1.5s;
}

.activate-box.is-shown:before {
  background-color: #fff;
}

@media screen and (max-width: 767px) {
  .slide-down {
    overflow: hidden;
    cursor: pointer;
    transition: height 0.7s ease-in-out;
  }
  .slide-down.is-hidden {
    position: relative;
    height: 75px;
    opacity: .4;
    box-shadow: 0 -15px 5px #fff;
  }
}

.l-container {
  position: relative;
  width: 1060px;
  margin: 0 auto;
  padding: 0 30px;
}

@media screen and (max-width: 767px) {
  .l-container {
    width: 100%;
    padding: 0 25px;
  }
}

.l-index__concept,
.l-index__point {
  padding-top: 150px;
}

@media screen and (max-width: 767px) {
  .l-index__concept,
  .l-index__point {
    padding-top: 80px;
  }
}

.l-index__concept-image,
.l-index__point-image {
  width: 45%;
}

@media screen and (max-width: 767px) {
  .l-index__concept-image,
  .l-index__point-image {
    width: 100%;
  }
}

.l-index__concept-image img,
.l-index__point-image img {
  width: 100%;
  height: 683px;
  object-fit: cover;
}

@media screen and (max-width: 767px) {
  .l-index__concept-image img,
  .l-index__point-image img {
    height: 295px;
  }
}

@media screen and (max-width: 767px) {
  .l-index__concept-image {
    margin-top: 55px;
    -ms-flex-order: 2;
        order: 2;
  }
}

.l-index__concept-content,
.l-index__point-content {
  width: 45%;
}

@media screen and (max-width: 767px) {
  .l-index__concept-content,
  .l-index__point-content {
    width: 100%;
  }
}

.l-index__concept-content p,
.l-index__point-content p {
  line-height: 2.5;
  margin-top: 25px;
}

@media screen and (max-width: 767px) {
  .l-index__concept-content p,
  .l-index__point-content p {
    line-height: 2;
  }
}

.l-index__concept-content {
  position: relative;
}

@media screen and (max-width: 767px) {
  .l-index__concept-content {
    padding: 0 25px;
    -ms-flex-order: 1;
        order: 1;
  }
}

.l-index__concept-arrow {
  position: relative;
  display: inline-block;
  width: 120px;
  height: 20px;
  margin-top: 70px;
}

.l-index__concept-arrow:before {
  position: absolute;
  bottom: 8px;
  left: 0;
  display: block;
  width: 100px;
  height: 2px;
  content: '';
  background-color: #151515;
}

.l-index__concept-arrow:after {
  position: absolute;
  bottom: 5px;
  left: 88px;
  display: block;
  width: 10px;
  height: 10px;
  content: '';
  transform: rotate(45deg);
  border-top: 2px solid #151515;
}

.l-index__concept-arrow:before, .l-index__concept-arrow:after {
  transition: left 0.25s ease-in-out;
}

.l-index__concept-arrow:hover:before {
  left: 15px;
}

.l-index__concept-arrow:hover:after {
  left: 104px;
}

.l-index__point-image {
  position: relative;
  -ms-flex-order: 2;
      order: 2;
}

@media screen and (max-width: 767px) {
  .l-index__point-image {
    margin-top: 55px;
  }
}

.l-index__point-progress {
  position: absolute;
  right: 50px;
  bottom: 25px;
  width: 60px;
  height: 2px;
  background-color: #afbabf;
}

@media screen and (max-width: 767px) {
  .l-index__point-progress {
    right: 40px;
    bottom: 20px;
  }
}

.l-index__point-progress span {
  position: relative;
  top: -10px;
  color: #fff;
}

.l-index__point-progress span:first-child {
  left: -20px;
}

.l-index__point-progress span:last-child {
  right: -60px;
}

.l-index__point-loader {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 0;
  height: 100%;
  background-color: #fff;
}

.l-index__point-content {
  padding-left: 12%;
  -ms-flex-order: 1;
      order: 1;
}

@media screen and (max-width: 767px) {
  .l-index__point-content {
    padding: 0 25px;
  }
}

.l-index__works {
  padding: 150px 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-index__works {
    padding: 70px 25px;
  }
}

.l-index__works h2 {
  margin-bottom: 40px;
}

.l-index__works-description {
  line-height: 2.5;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .l-index__works-description {
    line-height: 2;
    margin-bottom: 45px;
  }
}

.l-index__works-item div {
  font-family: "Noto Serif JP", serif;
  height: 540px;
  margin: 0 15px;
  padding: 45px 50px;
  text-align: left;
  letter-spacing: .1em;
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .l-index__works-item div {
    height: 235px;
    margin: 0;
    padding: 15px;
  }
}

.l-index__works-item div h3 {
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 5px;
}

@media screen and (max-width: 767px) {
  .l-index__works-item div h3 {
    font-size: 13px;
  }
}

@media screen and (max-width: 767px) {
  .l-index__works-item div p {
    font-size: 10px;
  }
}

.l-index__people {
  padding-bottom: 150px;
  text-align: center;
}

.l-index__people h2 {
  margin-bottom: 80px;
}

.l-index__people-item {
  position: relative;
  overflow: hidden;
  width: 31%;
}

@media screen and (max-width: 767px) {
  .l-index__people-item {
    padding: 0 10px;
  }
}

.l-index__people-item:hover img {
  filter: blur(5px);
}

.l-index__people-item:hover .l-index__people-overlay {
  left: 0;
}

.l-index__people-item img {
  width: 100%;
  -webkit-transition: -webkit-filter 0.25s ease-in-out;
}

.l-index__people-overlay {
  font-family: "Noto Serif JP", serif;
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  padding: 45px 35px;
  transition: left 0.25s ease-in-out;
  text-align: left;
  letter-spacing: .07em;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 767px) {
  .l-index__people-overlay {
    padding: 30px 20px;
  }
}

.l-index__people-overlay h3 {
  font-size: 25px;
  text-transform: uppercase;
}

@media screen and (max-width: 767px) {
  .l-index__people-overlay h3 {
    font-size: 18px;
  }
}

.l-index__people-overlay span {
  display: block;
}

@media screen and (max-width: 767px) {
  .l-index__people-overlay span {
    font-size: 10px;
  }
}

@media screen and (max-width: 767px) {
  .l-index__people-position {
    font-size: 10px;
  }
}

.l-index__people-description {
  position: absolute;
  bottom: 50px;
  width: 78%;
}

@media screen and (max-width: 767px) {
  .l-index__people-description {
    font-size: 10px;
    position: relative;
    bottom: -35px;
    width: 100%;
  }
}

.l-index__reasons {
  padding-bottom: 150px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-index__reasons {
    padding-bottom: 130px;
  }
}

.l-index__reasons h2 {
  margin-bottom: 80px;
}

.l-index__reasons-item {
  font-family: "Noto Serif JP", serif;
  position: relative;
  width: 48%;
  margin-bottom: 45px;
  letter-spacing: .1em;
  color: #fff;
}

@media screen and (max-width: 767px) {
  .l-index__reasons-item {
    width: 100%;
    margin-bottom: 20px;
  }
}

.l-index__reasons-item div {
  position: relative;
  width: 100%;
  height: 330px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

@media screen and (max-width: 767px) {
  .l-index__reasons-item div {
    height: 240px;
  }
}

.l-index__reasons-item div:after {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  content: '';
  background-color: rgba(0, 0, 0, 0.3);
}

.l-index__reasons-item h3 {
  font-size: 25px;
  font-weight: normal;
  position: absolute;
  top: 45%;
  width: 100%;
  margin-bottom: 5px;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .l-index__reasons-item h3 {
    font-size: 18px;
  }
}

.l-index__reasons-item p {
  position: absolute;
  top: 55%;
  width: 100%;
  transform: translateY(-50%);
}

@media screen and (max-width: 767px) {
  .l-index__reasons-item p {
    font-size: 10px;
  }
}

.l-index__prefooter {
  padding-bottom: 150px;
}

@media screen and (max-width: 767px) {
  .l-index__prefooter {
    padding-bottom: 125px;
  }
}

.l-concept__intro {
  padding-top: 50px;
}

@media screen and (max-width: 767px) {
  .l-concept__intro {
    padding-top: 80px;
  }
}

.l-concept__intro img {
  width: 100%;
  height: 460px;
}

@media screen and (max-width: 767px) {
  .l-concept__intro img {
    height: 250px;
    object-fit: cover;
  }
}

.l-concept__intro-text {
  width: 650px;
  margin: 0 auto 75px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-concept__intro-text {
    width: 100%;
    padding: 0 25px;
  }
}

.l-concept__intro-text h2 {
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .l-concept__intro-text h2 {
    margin-bottom: 40px;
  }
}

.l-concept__intro-text p {
  line-height: 2.2;
}

.l-concept__thoughts,
.l-concept__order {
  padding-top: 150px;
}

@media screen and (max-width: 767px) {
  .l-concept__thoughts,
  .l-concept__order {
    padding-top: 80px;
  }
}

.l-concept__thoughts-image,
.l-concept__order-image {
  width: 62%;
}

@media screen and (max-width: 767px) {
  .l-concept__thoughts-image,
  .l-concept__order-image {
    width: 100%;
  }
}

.l-concept__thoughts-image img,
.l-concept__order-image img {
  width: 100%;
  height: auto;
}

.l-concept__thoughts-content,
.l-concept__order-content {
  position: relative;
  right: -150px;
  width: 38%;
  padding: 40px 140px 80px 0;
}

@media screen and (max-width: 767px) {
  .l-concept__thoughts-content,
  .l-concept__order-content {
    right: 0;
    width: 100%;
    padding: 0 25px 70px;
  }
}

.l-concept__thoughts-content p,
.l-concept__order-content p {
  line-height: 2.5;
  margin-top: 25px;
  letter-spacing: -.075em;
}

@media screen and (max-width: 767px) {
  .l-concept__thoughts-content p,
  .l-concept__order-content p {
    line-height: 2;
  }
}

.l-concept__order-content {
  right: 150px;
  padding-right: 0;
  padding-left: 140px;
  -ms-flex-order: 2;
      order: 2;
}

@media screen and (max-width: 767px) {
  .l-concept__order-content {
    right: 0;
    padding: 0 25px 70px;
  }
}

.l-concept__order-image {
  -ms-flex-order: 1;
      order: 1;
}

@media screen and (max-width: 767px) {
  .l-concept__order-image {
    -ms-flex-order: 2;
        order: 2;
  }
}

.l-concept__specs {
  padding-top: 150px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-concept__specs {
    padding-top: 80px;
  }
}

.l-concept__specs h2 {
  margin-bottom: 40px;
}

.l-concept__specs p {
  line-height: 2.5;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .l-concept__specs p {
    line-height: 2;
    margin-bottom: 40px;
  }
}

.l-concept__specs-list li {
  width: 48%;
  margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
  .l-concept__specs-list li {
    width: 100%;
    margin-bottom: 20px;
  }
}

.l-concept__support {
  padding-top: 120px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-concept__support {
    padding-top: 90px;
  }
}

.l-concept__support h2 {
  margin-bottom: 40px;
}

.l-concept__support p {
  line-height: 2.5;
  margin-bottom: 60px;
}

@media screen and (max-width: 767px) {
  .l-concept__support p {
    line-height: 2;
    margin-bottom: 30px;
  }
}

.l-concept__support img {
  width: 100%;
  height: 406px;
}

@media screen and (max-width: 767px) {
  .l-concept__support img {
    height: 230px;
    object-fit: cover;
  }
}

.l-concept__flow {
  padding-top: 150px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-concept__flow {
    padding-top: 120px;
  }
}

@media screen and (max-width: 767px) {
  .l-concept__flow .l-container {
    padding: 0;
  }
}

.l-concept__flow h2 {
  margin-bottom: 40px;
}

.l-concept__prefooter {
  padding: 150px 0;
}

@media screen and (max-width: 767px) {
  .l-concept__prefooter {
    padding: 125px 0;
  }
}

.l-company__content {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-company__content {
    padding-top: 70px;
  }
}

.l-company__content h2 {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .l-company__content h2 {
    margin-bottom: 60px;
  }
}

.l-company__content-link {
  margin: 80px 0 150px;
}

@media screen and (max-width: 767px) {
  .l-company__content-link {
    margin-bottom: 80px;
  }
}

.l-privacy__content {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-privacy__content {
    padding-top: 70px;
  }
}

.l-privacy__content h2 {
  margin-bottom: 80px;
}

@media screen and (max-width: 767px) {
  .l-privacy__content h2 {
    margin-bottom: 60px;
  }
}

.l-privacy__content-link {
  margin: 80px 0 150px;
}

@media screen and (max-width: 767px) {
  .l-privacy__content-link {
    margin-bottom: 80px;
  }
}

.l-contact {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .l-contact__content {
    padding-top: 70px;
  }
}

@media screen and (max-width: 767px) {
  .l-contact__content h2 {
    margin-bottom: 60px;
  }
}

.l-contact__content-description {
  line-height: 2;
  margin-top: 30px;
  letter-spacing: .05em;
}

.l-contact__content-form {
  padding: 80px 0 150px;
}

@media screen and (max-width: 767px) {
  .l-contact__content-form {
    padding: 50px 0 80px;
  }
}
