.l-contact {
    text-align: center;
}

.l-contact__content-description {
    line-height: 2;

    margin-top: 30px;

    letter-spacing: .05em;
}

.l-contact__content-form {
    padding: 80px 0 150px;
}
