.l-concept__intro {
    padding-top: 50px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }

    img {
        width: 100%;
        height: 460px;

        @include max-screen($breakpoint-mobile) {
            height: 250px;

            object-fit: cover;
        }
    }
}

.l-concept__intro-text {
    width: 650px;
    margin: 0 auto 75px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        padding: 0 25px;
    }

    h2 {
        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 40px;
        }
    }

    p {
        line-height: 2.2;
    }
}

.l-concept__thoughts,
.l-concept__order {
    padding-top: 150px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }
}

.l-concept__thoughts-image,
.l-concept__order-image {
    width: 62%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.l-concept__thoughts-content,
.l-concept__order-content {
    position: relative;
    right: -150px;

    width: 38%;
    padding: 40px 140px 80px 0;

    @include max-screen($breakpoint-mobile) {
        right: 0;

        width: 100%;
        padding: 0 25px 70px;
    }

    p {
        line-height: 2.5;

        margin-top: 25px;

        letter-spacing: -.075em;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;
        }
    }
}

.l-concept__order-content {
    right: 150px;

    padding-right: 0;
    padding-left: 140px;

    order: 2;
    @include max-screen($breakpoint-mobile) {
        right: 0;

        padding: 0 25px 70px;
    }
}

.l-concept__order-image {
    order: 1;
    @include max-screen($breakpoint-mobile) {
        order: 2;
    }
}

.l-concept__specs {
    padding-top: 150px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }

    h2 {
        margin-bottom: 40px;
    }
    p {
        line-height: 2.5;

        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;

            margin-bottom: 40px;
        }
    }
}

.l-concept__specs-list {
    li {
        width: 48%;
        margin-bottom: 45px;

        @include max-screen($breakpoint-mobile) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.l-concept__support {
    padding-top: 120px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-top: 90px;
    }

    h2 {
        margin-bottom: 40px;
    }
    p {
        line-height: 2.5;

        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;

            margin-bottom: 30px;
        }
    }
    img {
        width: 100%;
        height: 406px;

        @include max-screen($breakpoint-mobile) {
            height: 230px;

            object-fit: cover;
        }
    }
}

.l-concept__flow {
    padding-top: 150px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-top: 120px;
    }

    .l-container {
        @include max-screen($breakpoint-mobile) {
            padding: 0;
        }
    }

    h2 {
        margin-bottom: 40px;
    }
}

.l-concept__prefooter {
    padding: 150px 0;

    @include max-screen($breakpoint-mobile) {
        padding: 125px 0;
    }
}
