.l-concept__intro {
    padding-top: 50px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }

    img {
        width: 100%;
        height: 460px;

        @include max-screen($breakpoint-mobile) {
            height: 250px;

            object-fit: cover;
        }
    }
}

.l-concept__intro-text {
    width: 650px;
    margin: 0 auto 75px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        padding: 0 25px;
    }

    h2 {
        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            margin-bottom: 40px;
        }
    }

    p {
        line-height: 2.2;
    }
}

.l-concept__thoughts,
.l-concept__order {
    padding-top: 150px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }
}

.l-concept__thoughts-image,
.l-concept__order-image {
    width: 62%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    img {
        width: 100%;
        height: auto;
    }
}

.l-concept__thoughts-content,
.l-concept__order-content {
    position: relative;
    right: -150px;

    width: 38%;
    padding: 40px 140px 80px 0;

    @include max-screen($breakpoint-mobile) {
        right: 0;

        width: 100%;
        padding: 0 25px 70px;
    }

    p {
        line-height: 2.5;

        margin-top: 25px;

        letter-spacing: -.075em;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;
        }
    }
}

.l-concept__order-content {
    right: 150px;

    padding-right: 0;
    padding-left: 140px;

    order: 2;
    @include max-screen($breakpoint-mobile) {
        right: 0;

        padding: 0 25px 70px;
    }
}

.l-concept__order-image {
    order: 1;
    @include max-screen($breakpoint-mobile) {
        order: 2;
    }
}

.l-concept__specs {
    padding-top: 150px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }

    h2 {
        margin-bottom: 40px;
    }
    p {
        line-height: 2.5;

        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;

            margin-bottom: 40px;
        }
    }
}

.l-concept__specs-list {
    li {
        width: 48%;
        margin-bottom: 45px;

        @include max-screen($breakpoint-mobile) {
            width: 100%;
            margin-bottom: 20px;
        }
    }
}

.l-concept__support {
    padding-top: 120px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-top: 90px;
    }

    h2 {
        margin-bottom: 40px;
    }
    p {
        line-height: 2.5;

        margin-bottom: 60px;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;

            margin-bottom: 30px;
        }
    }
    img {
        width: 100%;
        height: 406px;

        @include max-screen($breakpoint-mobile) {
            height: 230px;

            object-fit: cover;
        }
    }
}

.l-concept__flow {
    padding-top: 150px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-top: 120px;
    }

    .l-container {
        @include max-screen($breakpoint-mobile) {
            padding: 0;
        }
    }

    h2 {
        margin-bottom: 40px;
    }
}

.l-concept__flow-list {
    &.is-active {
        .l-concept__flow-item {
            transform: translateY(0);

            opacity: 1;
        }
    }

    .slick-dots {
        display: flex;

        margin: 30px auto 0;

        list-style-type: none;

        flex-wrap: wrap;
        justify-content: space-between;
        @include max-screen($breakpoint-mobile) {
            width: 120px;
        }

        li {
            cursor: pointer;
            transition: background-color $duration $easing,
            opacity $duration $easing;

            border: 1px solid #ddd;
            border-radius: 100%;

            @include max-screen($breakpoint-mobile) {
                width: 8px;
                height: 8px;
            }

            &.slick-active {
                background-color: #ddd;
            }
        }
    }
}

.l-concept__flow-item {
    position: relative;

    width: 30.7%;
    margin-bottom: 40px;

    transition: all $duration-long $easing;
    transform: translateY(30px);

    opacity: 0;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin: 0;
    }

    &:after {
        position: absolute;
        top: 50%;
        right: 3px;

        width: 18px;
        height: 18px;

        content: '';
        transform: rotate(45deg) translateY(-50%);

        border-top: 1px solid #222;
        border-right: 1px solid #222;
    }

    &:first-child {
        order: 1;

        &:after {
            transition: right $duration $easing .2s;
        }
    }
    &:nth-child(2) {
        order: 2;
        &:after {
            transition: right $duration $easing .7s;
        }
    }
    &:nth-child(3) {
        order: 3;

        &:after {
            top: auto;
            right: 50%;
            bottom: -8px;

            transition: bottom $duration $easing 1.2s;
            transform: rotate(135deg) translateX(-50%);
        }
    }
    &:nth-child(4) {
        order: 6;
        @include max-screen($breakpoint-mobile) {
            order: 4;
        }

        &:after {
            top: 45%;
            left: 3px;

            transition: left $duration $easing 1.7s;
            transform: rotate(-135deg) translateY(-50%);
        }
    }
    &:nth-child(5) {
        order: 5;

        &:after {
            top: 45%;
            left: 3px;

            transition: left $duration $easing 2.2s;
            transform: rotate(-135deg) translateY(-50%);
        }
    }
    &:nth-child(6) {
        order: 4;
        @include max-screen($breakpoint-mobile) {
            order: 6;
        }

        &:before {
            position: absolute;
            top: 282px;
            left: 50%;

            display: block;

            width: 1px;
            height: 140px;

            content: '';
            transition: height $duration $easing 2.7s;

            background-color: #222;
        }

        &:after {
            top: auto;
            bottom: -185px;
            left: 50%;

            width: 140px;
            height: 140px;

            transition: width $duration $easing 2.9s;
            transform: rotate(180deg);

            border-right: none;
        }
    }
    &:last-child {
        width: 65.4%;
        margin-left: auto;

        order: 7;
        @include max-screen($breakpoint-mobile) {
            margin-left: 0;
            padding: 0 10px;
        }

        &:after {
            display: none;

            @include max-screen($breakpoint-mobile) {
                display: block;
            }
        }

        .flow-block {
            &:after {
                position: absolute;
                top: 10px;
                left: 10px;

                width: 97%;
                height: 93%;

                content: '';

                border: 1px solid #222;

                @include max-screen($breakpoint-mobile) {
                    border: none;
                }
            }
        }

        .flow-block__icon {
            width: 85px;
            height: 85px;
            margin-bottom: 30px;

            @include max-screen($breakpoint-mobile) {
                width: 50px;
                height: 50px;
                margin-bottom: 40px;
            }
        }
    }
}

.l-concept__prefooter {
    padding: 150px 0;

    @include max-screen($breakpoint-mobile) {
        padding: 125px 0;
    }
}
