.l-concept__intro {
    padding-top: 50px;

    img {
        width: 100%;
        height: 460px;
    }
}

.l-concept__intro-text {
    width: 650px;
    margin: 0 auto 75px;

    text-align: center;

    h2 {
        margin-bottom: 60px;
    }

    p {
        line-height: 2.2;
    }
}

.l-concept__thoughts,
.l-concept__order {
    padding-top: 150px;
}

.l-concept__thoughts-image,
.l-concept__order-image {
    width: 62%;

    img {
        width: 100%;
        height: auto;
    }
}

.l-concept__thoughts-content,
.l-concept__order-content {
    position: relative;
    right: -150px;

    width: 38%;
    padding: 40px 140px 80px 0;

    background-color: #fff;

    p {
        line-height: 2.5;

        margin-top: 25px;

        letter-spacing: -.075em;
    }
}

.l-concept__order-content {
    right: 150px;

    padding-right: 0;
    padding-left: 140px;

    order: 2;
}

.l-concept__order-image {
    order: 1;
}

.l-concept__specs {
    padding-top: 150px;

    text-align: center;

    h2 {
        margin-bottom: 40px;
    }
    p {
        line-height: 2.5;

        margin-bottom: 60px;
    }
}

.l-concent__specs-list {
    li {
        width: 48%;
        margin-bottom: 45px;
    }
}

.l-concept__support {
    padding-top: 120px;

    text-align: center;

    h2 {
        margin-bottom: 40px;
    }
    p {
        line-height: 2.5;

        margin-bottom: 60px;
    }
    img {
        width: 100%;
        height: 406px;
    }
}

.l-concept__flow {
    padding-top: 150px;

    text-align: center;

    h2 {
        margin-bottom: 40px;
    }
}

.l-concept__flow-list {
    li {
        position: relative;

        width: 30.7%;
        margin-bottom: 40px;

        transition: opacity $duration $easing;
        // opacity: 0;

        &:after {
            position: absolute;
            top: 50%;
            right: 3px;

            width: 18px;
            height: 18px;

            content: '';
            transform: rotate(45deg) translateY(-50%);

            border-top: 1px solid #222;
            border-right: 1px solid #222;
        }

        &:first-child {
            order: 1;

            &:after {
                transition: right $duration $easing .2s;
            }
        }
        &:nth-child(2) {
            order: 2;
            &:after {
                transition: right $duration $easing .7s;
            }
        }
        &:nth-child(3) {
            order: 3;

            &:after {
                top: auto;
                right: 50%;
                bottom: -8px;

                transition: bottom $duration $easing 1.2s;
                transform: rotate(135deg) translateX(-50%);
            }
        }
        &:nth-child(4) {
            order: 6;

            &:after {
                top: 45%;
                left: 3px;

                transition: left $duration $easing 1.7s;
                transform: rotate(-135deg) translateY(-50%);
            }
        }
        &:nth-child(5) {
            order: 5;

            &:after {
                top: 45%;
                left: 3px;

                transition: left $duration $easing 2.2s;
                transform: rotate(-135deg) translateY(-50%);
            }
        }
        &:nth-child(6) {
            order: 4;

            &:before {
                position: absolute;
                top: 282px;
                left: 50%;

                display: block;

                width: 1px;
                height: 140px;

                content: '';
                transition: height $duration $easing 2.7s;

                background-color: #222;
            }

            &:after {
                top: auto;
                bottom: -185px;
                left: 50%;

                width: 140px;
                height: 140px;

                transition: width $duration $easing 2.9s;
                transform: rotate(180deg);

                border-right: none;
            }
        }
        &:last-child {
            width: 65.4%;
            margin-left: auto;

            order: 7;

            &:after {
                display: none;
            }

            .flow-block {
                &:after {
                    position: absolute;
                    top: 10px;
                    left: 10px;

                    width: 97%;
                    height: 93%;

                    content: '';

                    border: 1px solid #222;
                }
            }

            .flow-block__icon {
                width: 85px;
                height: 85px;
                margin-bottom: 30px;
            }
        }
    }

    &.is-active {
        li {
            opacity: 1;
        }
    }
}


.l-concept__prefooter {
    padding: 150px 0;
}
