.l-index__concept,
.l-index__point {
    padding-top: 150px;

    @include max-screen($breakpoint-mobile) {
        padding-top: 80px;
    }
}

.l-index__concept-image,
.l-index__point-image {
    width: 45%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    img {
        width: 100%;
        height: 683px;

        object-fit: cover;
        @include max-screen($breakpoint-mobile) {
            height: 295px;
        }
    }
}

.l-index__concept-image {
    @include max-screen($breakpoint-mobile) {
        margin-top: 55px;

        order: 2;
    }
}

.l-index__concept-content,
.l-index__point-content {
    width: 45%;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
    }

    p {
        line-height: 2.5;

        margin-top: 25px;

        @include max-screen($breakpoint-mobile) {
            line-height: 2;
        }
    }
}

.l-index__concept-content {
    position: relative;

    @include max-screen($breakpoint-mobile) {
        padding: 0 25px;

        order: 1;
    }
}

.l-index__concept-arrow {
    position: relative;

    display: inline-block;

    width: 120px;
    height: 20px;
    margin-top: 70px;

    &:before {
        position: absolute;
        bottom: 8px;
        left: 0;

        display: block;

        width: 100px;
        height: 2px;

        content: '';

        background-color: $base-font-color;
    }
    &:after {
        position: absolute;
        bottom: 5px;
        left: 88px;

        display: block;

        width: 10px;
        height: 10px;

        content: '';
        transform: rotate(45deg);

        border-top: 2px solid $base-font-color;
    }

    &:before,
    &:after {
        transition: left $duration $easing;
    }

    &:hover {
        &:before {
            left: 15px;
        }
        &:after {
            left: 104px;
        }
    }
}

.l-index__point-image {
    position: relative;

    order: 2;
    @include max-screen($breakpoint-mobile) {
        margin-top: 55px;
    }
}

.l-index__point-progress {
    position: absolute;
    right: 50px;
    bottom: 25px;

    width: 60px;
    height: 2px;

    background-color: #afbabf;

    @include max-screen($breakpoint-mobile) {
        right: 40px;
        bottom: 20px;
    }

    span {
        position: relative;
        top: -10px;

        color: #fff;

        &:first-child {
            left: -20px;
        }
        &:last-child {
            right: -60px;
        }
    }
}

.l-index__point-loader {
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;

    width: 0;
    height: 100%;

    background-color: #fff;
}

.l-index__point-content {
    padding-left: 12%;

    order: 1;
    @include max-screen($breakpoint-mobile) {
        padding: 0 25px;
    }
}

.l-index__point-description {
    &:not(:nth-child(2)) {
        display: none;
    }
}

.l-index__works {
    padding: 150px 0;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding: 70px 25px;
    }

    h2 {
        margin-bottom: 40px;
    }
}

.l-index__works-description {
    line-height: 2.5;

    margin-bottom: 60px;

    @include max-screen($breakpoint-mobile) {
        line-height: 2;

        margin-bottom: 45px;
    }
}

.l-index__works-item {
    div {
        font-family: $font-noto;

        height: 540px;
        margin: 0 15px;
        padding: 45px 50px;

        text-align: left;
        letter-spacing: .1em;

        color: #fff;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include max-screen($breakpoint-mobile) {
            height: 235px;
            margin: 0;
            padding: 15px;
        }

        h3 {
            font-size: 25px;
            font-weight: normal;

            margin-bottom: 5px;

            @include max-screen($breakpoint-mobile) {
                font-size: 13px;
            }
        }
        p {
            @include max-screen($breakpoint-mobile) {
                font-size: 10px;
            }
        }
    }
}

.l-index__people {
    padding-bottom: 150px;

    text-align: center;

    h2 {
        margin-bottom: 80px;
    }
}

.l-index__people-item {
    position: relative;

    overflow: hidden;

    width: 31%;

    @include max-screen($breakpoint-mobile) {
        padding: 0 10px;
    }

    &:hover {
        img {
            filter: blur(5px);
        }

        .l-index__people-overlay {
            left: 0;
        }
    }

    img {
        width: 100%;

        -webkit-transition: -webkit-filter $duration $easing;
    }
}

.l-index__people-overlay {
    font-family: $font-noto;

    position: absolute;
    top: 0;
    left: -100%;

    width: 100%;
    height: 100%;
    padding: 45px 35px;

    transition: left $duration $easing;
    text-align: left;
    letter-spacing: .07em;

    color: #fff;
    background-color: rgba(0,0,0,.5);

    @include max-screen($breakpoint-mobile) {
        padding: 30px 20px;
    }

    h3 {
        font-size: 25px;

        text-transform: uppercase;

        @include max-screen($breakpoint-mobile) {
            font-size: 18px;
        }
    }
    span {
        display: block;

        @include max-screen($breakpoint-mobile) {
            font-size: 10px;
        }
    }
}

.l-index__people-position {
    @include max-screen($breakpoint-mobile) {
        font-size: 10px;
    }
}

.l-index__people-description {
    position: absolute;
    bottom: 50px;

    width: 78%;

    @include max-screen($breakpoint-mobile) {
        font-size: 10px;

        position: relative;
        bottom: -35px;

        width: 100%;
    }
}

.l-index__reasons {
    padding-bottom: 150px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 130px;
    }

    h2 {
        margin-bottom: 80px;
    }
}

.l-index__reasons-item {
    font-family: $font-noto;

    position: relative;

    overflow: hidden;

    width: 48%;
    margin-bottom: 45px;

    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        margin-bottom: 20px;
    }

    a {
        color: #fff;

        &:hover {
            div {
                        filter: blur(8px);
                -webkit-filter: blur(8px);
            }
        }
    }

    div {
        position: relative;

        width: 100%;
        height: 330px;

        transition: all .8s cubic-bezier(.165, .84, .44, 1) 0s;

        background-repeat: no-repeat;
        background-position: 30% center;
        background-size: cover;

        @include max-screen($breakpoint-mobile) {
            height: 240px;
        }

        &:after {
            position: absolute;
            top: 0;
            left: 0;

            display: block;

            width: 100%;
            height: 100%;

            content: '';

            background-color: rgba(0, 0, 0, .3);
        }
    }

    h3 {
        font-size: 25px;
        font-weight: normal;

        position: absolute;
        top: 45%;

        width: 100%;
        margin-bottom: 5px;

        transform: translateY(-50%);

        @include max-screen($breakpoint-mobile) {
            font-size: 18px;
        }
    }
    p {
        position: absolute;
        top: 55%;

        width: 100%;

        transform: translateY(-50%);

        @include max-screen($breakpoint-mobile) {
            font-size: 10px;
        }
    }
}

.l-index__prefooter {
    padding-bottom: 150px;

    @include max-screen($breakpoint-mobile) {
        padding-bottom: 125px;
    }
}
