.activate-text {
    position: relative;
    z-index: 1;

    transition: all .8s cubic-bezier(.165, .84, .44, 1) 1.5s;
    transform: translateX(-50px);

    opacity: 0;

    &.is-shown {
        transform: translateX(0);

        opacity: 1;
    }
}

.activate-box {
    &:before {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';
        transition: background-color .8s cubic-bezier(.165, .84, .44, 1) 1.5s;
    }

    &.is-shown {
        &:before {
            background-color: #fff;
        }
    }
}
