@keyframes left-to-right {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes panPhoto {
  	0% {
    	background-position: 30% center;
  	}
  	100% {
    	background-position: 100% center;
  	}
}