.banner {
    align-items: initial;

    .logo {
        height: 625px;
    }
}

.banner__img {
    position: relative;

    width: 87%;
    height: 500px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;

    @include max-screen($breakpoint-mobile) {
        width: 100%;
        height: 235px;
    }
}
