.company {
    text-align: left;
    letter-spacing: .08em;

    dt,
    dd {
        padding: 35px 0;

        border-top: 1px solid #f0f0f0;

        &:last-of-type {
            border-bottom: 1px solid #f0f0f0;
        }
    }
    dt {
        width: 25%;

        &.company__item--list {
            padding-bottom: 105px;
        }
    }
    dd {
        width: 75%;

        &.company__item--list {
            ul {
                padding-left: 20px;

                list-style-type: circle;

                li {
                    margin-bottom: 10px;
                }
            }
        }
    }
}
