.company {
    text-align: left;
    letter-spacing: .08em;

    li {
        padding: 35px 0;

        border-top: 1px solid #f0f0f0;

        &:last-of-type {
            border-bottom: 1px solid #f0f0f0;
        }

        &.u-flex {
            align-items: initial;
        }

        p {
            width: 75%;

            @include max-screen($breakpoint-mobile) {
                width: 60%;
            }
        }
    }
}

.company__label {
    width: 25%;

    @include max-screen($breakpoint-mobile) {
        width: 40%;
    }
}

.company__sub {
    width: 75%;

    @include max-screen($breakpoint-mobile) {
        width: 60%;
    }

    ul {
        padding-left: 20px;

        list-style-type: circle;

        @include max-screen($breakpoint-mobile) {
            padding-left: 15px;
        }

        li {
            padding: 0;
            padding-bottom: 15px;

            border-top: none;

            &:last-of-type {
                padding-bottom: 0;

                border-bottom: none;
            }
        }
    }
}
