.flow-block {
    position: relative;

    width: 100%;
    padding: 30px 0;

    background-color: #f0f4f7;

    @include max-screen($breakpoint-mobile) {
        min-height: 264px;
        padding: 30px 15px;
    }
}

.flow-block__step {
    display: block;

    margin-bottom: 30px;

    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 10px;
    }
}

.flow-block__icon {
    display: block;

    width: 55px;
    height: 55px;
    margin: 0 auto 50px;

    object-fit: contain;
}

.flow-block__description {
    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 12px;
    }
}
