.flow-block {
    position: relative;

    width: 100%;
    padding: 30px 0;

    background-color: #f0f4f7;
}

.flow-block__step {
    display: block;

    margin-bottom: 30px;

    letter-spacing: .1em;
}

.flow-block__icon {
    display: block;

    width: 55px;
    height: 55px;
    margin: 0 auto 50px;

    object-fit: contain;
}

.flow-block__description {
    letter-spacing: .1em;
}
