.footer {
    margin-bottom: 100px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        margin-bottom: 60px;
    }
}

.footer__text {
    font-family: $font-noto;
    font-size: 12px;
    font-weight: bold;

    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 10px;
    }

    span {
        display: inline-block;
        
        @include max-screen($breakpoint-mobile) {
            display: none;
        }
    }
}
