.footer {
    margin-bottom: 100px;

    text-align: center;

    @include max-screen($breakpoint-mobile) {
        margin-bottom: 60px;
    }
}

.footer__text {
    font-family: $font-hira;
    font-size: 12px;
    font-weight: bold;

    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 10px;
    }
}
