.form {
    text-align: left;

    //contact page
    .mw_wp_form_input {
        .form-submit,
        .form__back {
            display: none;
        }
        .error {
            position: absolute;
            bottom: 25px;
            left: 28%;
        }
    }

    // confirm page
    .mw_wp_form_confirm {
        .form__item {
            justify-content: initial;

            label {
                top: 0;

                margin-right: 80px;
            }
        }
        .form__privacy,
        .form__checkbox {
            display: none;
        }
    }
}

.form__item {
    position: relative;

    padding: 50px 0;

    border-bottom: 1px solid #ececec;

    align-items: initial;

    &:first-child {
        border-top: 1px solid #ececec;
    }

    &.form__item--required {
        label {
            &:after {
                font-size: 12px;

                position: absolute;
                top: -3px;
                right: -25px;

                display: inline-block;

                padding: 5px 20px;

                content: '必須';

                color: #fff;
                background-color: #000;
            }
        }
    }

    label {
        position: relative;
        top: 15px;

        width: 20%;
    }
    input,
    textarea {
        width: 72%;
        padding: 20px 30px;

        background-color: #f0f4f7;

        &::placeholder {
            color: #d0d3d6;
        }
    }
    p {
        width: 72%;
    }
}

.form__privacy {
    margin: 70px auto 30px;

    text-align: center;
    letter-spacing: .05em;

    a {
        position: relative;

        display: inline-block;

        color: $base-font-color;

        &:after {
            position: absolute;
            bottom: -5px;
            left: 0;

            width: 100%;
            height: 1px;

            content: '';

            background-color: #000;
        }

        &:hover {
            &:after {
                animation: left-to-right .5s $easing;
            }
        }
    }
}

.form__checkbox {
    text-align: center;

    input[type='checkbox'] {
        display: none;
        &:checked + label:after {
            position: absolute;
            top: 4px;
            left: 9px;

            display: block;

            width: 6px;
            height: 14px;

            content: '';
            transform: rotate(45deg);

            border: solid #000;
            border-width: 0 1px 1px 0;
        }
    }
    label {
        position: relative;

        display: inline-block;

        cursor: pointer;

        &:before {
            position: relative;

            display: inline-block;

            margin-right: 10px;
            padding: 10px;

            content: '';
            cursor: pointer;
            vertical-align: middle;

            border: 1px solid #000;
            background-color: transparent;

            -webkit-appearance: none;
        }
    }
}

.form__submit {
    position: relative;

    width: 330px;
    margin: 70px auto 0;

    transition: all $duration $easing;
    text-align: center;

    border: 1px solid #555;
    background-image: linear-gradient(to left, transparent 0, #fff 100%);
    background-position: 99% 0;
    background-size: 200% 100%;

    &:before {
        position: absolute;
        top: 50%;
        right: 20px;

        display: block;

        width: 12px;
        height: 1px;

        content: '';
        transition: width .3s $easing $duration,
        right .1s $easing .5s;
        transform: translateY(-50%);

        background-color: $base-font-color;
    }
    &:after {
        position: absolute;
        top: 50%;
        right: 20px;

        display: block;

        width: 4px;
        height: 4px;

        content: '';
        transition: right .1s $easing .5s;
        transform: translateY(-50%) rotate(45deg);

        border-top: 1px solid $base-font-color;
        border-right: 1px solid $base-font-color;
    }

    &:hover {
        &:before,
        &:after {
            right: 15px;
        }
        &:before {
            width: 18px;

            background-color: #fff;
        }
        &:after {
            border-color: #fff;
        }
    }

    &:hover {
        color: #fff;
        background-image: linear-gradient(to left, transparent, transparent 50%, #000 50%, #000);
        background-position: 0 0;
    }

    input[type='submit'] {
        width: 100%;
        padding: 17px 0;

        cursor: pointer;
    }
}

.form__back {
    margin: 50px auto;

    text-align: center;
}

@keyframes left-to-right {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}
