.header {
    position: absolute;
    z-index: 1;
    top: 30px;
    right: 0;

    width: 50%;

    @include max-screen($breakpoint-mobile) {
        position: fixed;
        z-index: 30;
        top: 0;
        left: 0;

        width: 100%;
        padding: 15px 0;

        background-color: #fff;
    }

    &.is-open {
        z-index: 31;

        .header__list {
            display: none;
        }
        .header__logo {
            opacity: 0;
        }
    }

    &.header--frontpage {
        .header__item--model {
            a:last-child {
                display: none;
            }
        }
    }
    &.header--subpage {
        .header__item--model {
            a:first-child {
                display: none;
            }
        }
    }
}

.header__list {
    width: 39.7vw;

    @include max-screen(1200px) {
        width: 45vw;

        transform: scale(.85);
    }
    @include max-screen(950px) {
        width: 48vw;

        transform: scale(.75);
    }
    @include max-screen($breakpoint-mobile) {
        display: none;
    }

    li {
        a {
            font-family: $font-noto;

            position: relative;

            letter-spacing: .2em;

            color: #fff;

            &:after {
                position: absolute;
                bottom: -8px;
                left: 0;

                display: block;

                width: 0;
                height: 2px;

                content: '';

                background-color: #fff;
            }

            &:hover {
                &:after {
                    animation: left-to-right $duration normal forwards ease-in-out;
                }
            }
        }
    }
}

.header__logo {
    @include max-screen($breakpoint-mobile) {
        text-align: center;
    }

    a {
        display: block;

        text-align: center;

        @include max-screen($breakpoint-mobile) {
            display: inline-block;
        }

        img {
            width: 110px;
            height: 25px;

            object-fit: cover;
        }
    }
}

.header__hamburger {
    position: absolute;
    z-index: 20;
    top: 3px;
    right: 25px;

    width: 20px;
    height: 20px;

    cursor: pointer;
    transition: transform .5s $easing;
    transform: rotate(0deg);

    @include max-screen($breakpoint-mobile) {
        top: 20px;
        right: 15px;

        width: 20px;
        height: 20px;
    }

    span {
        position: absolute;
        left: 0;

        display: block;

        width: 100%;
        height: 2px;

        transition: $duration $easing;
        transform: rotate(0deg);

        opacity: 1;
        border-radius: 9px;
        background-color: #fff;

        @include max-screen($breakpoint-mobile) {
            height: 2px;

            background-color: $base-font-color;
        }

        &:nth-child(1) {
            top: 0;
        }

        &:nth-child(2),
        &:nth-child(3) {
            top: 6px;
        }

        &:nth-child(4) {
            top: 12px;
        }
    }

    // STATE
    &.is-open {
        span {
            background-color: $base-font-color;
            &:nth-child(1) {
                top: 9px;
                left: 50%;

                width: 0;
            }

            &:nth-child(2) {
                transform: rotate(45deg);
            }

            &:nth-child(3) {
                transform: rotate(-45deg);
            }

            &:nth-child(4) {
                top: 9px;
                left: 50%;

                width: 0;
            }
        }
    }

    &:hover {
        span {
            opacity: .8;
        }
    }
}
