.hero {
    position: relative;

    width: 87%;
    height: 800px;

    -webkit-transition: -webkit-filter 1.5s $easing,
    opacity $duration-long $easing;

    opacity: 0;

    filter: blur(10px) saturate(.1);

    &.is-shown {
        opacity: 1;

        filter: none;
    }
}

.hero__slider-item {
    div {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.hero__title {
    font-family: $font-noto;
    font-size: 49px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: .1em;

    color: #fff;
}

.hero__tagline {
    font-size: 12px;

    position: absolute;
    bottom: 40px;
    left: 35px;

    transition: opacity $duration $easing;

    opacity: 0;
    color: #fff;

    &.is-shown {
        opacity: 1;
    }

    p {
        display: inline-block;

        &:last-child {
            margin-left: 40px;
        }
    }
}

.hero__progress {
    position: absolute;
    bottom: 20px;
    left: 0;

    width: 100%;
    height: 1px;

    transition: opacity $duration $easing;

    opacity: .4;
    opacity: 0;
    background-color: #afbabf;

    &.is-shown {
        opacity: 1;
    }

    span {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 0;
        height: 100%;

        background-color: #fff;
    }
}
.hero__progress  span.active {
    width: 100%;
}
