.hero {
    position: relative;

    width: 87%;
    height: 100vh;

    -webkit-transition: -webkit-filter 1.5s $easing,
    opacity $duration-long $easing;

    opacity: 0;

    filter: blur(10px) saturate(.1);
    @include max-screen($breakpoint-mobile) {
        width: 100%;
        height: 100vh;
    }

    &.is-shown {
        opacity: 1;

        filter: none;
    }
}

.hero__slider-item {
    div {
        width: 100%;
        height: 100vh;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        @include max-screen($breakpoint-mobile) {
            height: 100vh;
        }
    }
}

.hero__title {
    font-family: $font-noto;
    font-size: 49px;
    font-weight: normal;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: .1em;

    color: #fff;
    text-shadow: 1px 1px #000;

    @include max-screen($breakpoint-mobile) {
        font-size: 27px;

        width: 100%;
    }
}

.hero__tagline {
    font-family: $font-noto;
    font-size: 11px;

    position: absolute;
    bottom: 40px;
    left: 35px;

    transition: opacity $duration $easing;
    letter-spacing: .4em;

    opacity: 0;
    color: #fff;

    @include max-screen($breakpoint-mobile) {
        left: 30px;
    }

    &.is-shown {
        opacity: 1;
    }

    p {
        display: inline-block;

        @include max-screen($breakpoint-mobile) {
            display: block;
        }

        &:last-child {
            margin-left: 40px;

            @include max-screen($breakpoint-mobile) {
                margin-top: 5px;
                margin-left: 0;
            }
        }
    }
}

.hero__progress {
    position: absolute;
    bottom: 20px;
    left: 0;

    width: 100%;
    height: 1px;

    transition: opacity $duration $easing;

    opacity: 0;
    background-color: #afbabf;

    &.is-shown {
        opacity: 1;
    }

    span {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 0;
        height: 100%;

        background-color: #fff;
    }
}
.hero__progress  span.active {
    width: 100%;
}
