.hero {
    position: relative;

    width: 87%;
    height: 800px;
}

.hero__slider-item {
    div {
        width: 100%;
        height: 800px;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
}

.hero__title {
    font-family: $font-hira;
    font-size: 49px;

    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    text-align: center;
    letter-spacing: .1em;

    color: #fff;
}

.hero__tagline {
    font-family: $font-hira;
    font-size: 12px;

    position: absolute;
    bottom: 40px;
    left: 35px;

    color: #fff;

    p {
        display: inline-block;

        &:last-child {
            margin-left: 40px;
        }
    }
}

.hero__progress {
    position: absolute;
    bottom: 20px;
    left: 0;

    width: 100%;
    height: 1px;

    opacity: .4;
    background-color: #afbabf;

    span {
        position: absolute;
        bottom: 0;
        left: 0;

        display: block;

        width: 0;
        height: 100%;

        background-color: #fff;
    }
}
.hero__progress  span.active {
    width: 100%;
}
