.link-arrow {
    position: relative;

    display: inline-block;

    padding-bottom: 15px;
    padding-left: 25px;

    cursor: pointer;

    color: $base-font-color;
    border-bottom: 1px solid #000;

    &:before {
        position: absolute;
        top: 40%;
        left: 0;

        display: block;

        width: 12px;
        height: 1px;

        content: '';
        transition: width .3s $easing,
        left .1s $easing .3s;
        transform: translateY(-50%);

        background-color: $base-font-color;
    }
    &:after {
        position: absolute;
        top: 40%;
        left: 0;

        display: block;

        width: 4px;
        height: 4px;

        content: '';
        transition: left .1s $easing .3s;
        transform: translateY(-50%) rotate(45deg);

        border-bottom: 1px solid $base-font-color;
        border-left: 1px solid $base-font-color;
    }

    &:hover {
        &:before,
        &:after {
            left: -5px;
        }
        &:before {
            width: 18px;
        }
    }

    input[name='submitBack'] {
        cursor: pointer;

        outline: none;
    }
}
