.policy {
    line-height: 2;

    text-align: left;

    ol {
        list-style-type: decimal;

        li {
            margin-bottom: 45px;
            margin-left: 17px;
        }
    }
}
