.policy {
    line-height: 2;

    text-align: left;

    ol {
        list-style-position: inside;
        list-style-type: decimal;

        li {
            margin-bottom: 45px;

            @include max-screen($breakpoint-mobile) {
                margin-bottom: 30px;
            }
        }
    }
}
