.section-title {
    font-family: $font-hira;

    position: relative;
    z-index: 1;
}
.section-title__en {
    font-size: 12px;

    display: block;

    letter-spacing: .1em;
}
.section-title__ja {
    font-size: 25px;

    display: block;

    letter-spacing: .1em;
}
