.section-title {
    font-family: $font-noto;

    position: relative;
    z-index: 1;
}
.section-title__en {
    font-size: 12px;

    display: block;

    margin-bottom: 8px;

    letter-spacing: .2em;

    @include max-screen($breakpoint-mobile) {
        font-size: 10px;
    }
}
.section-title__ja {
    font-size: 25px;

    display: block;

    letter-spacing: .1em;

    @include max-screen($breakpoint-mobile) {
        font-size: 20px;
    }
}
