.spec-block {
    position: relative;

    img {
        width: 100%;
        height: 295px;

        object-fit: cover;
    }
    span {
        position: absolute;
        right: 0;
        bottom: 0;

        display: block;

        width: 185px;
        padding: 15px 0;

        letter-spacing: .1em;

        background-color: #fff;
    }
}
